*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
}

h1{
    margin: 20px 0;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: center;
}

td:not(:last-child){
    border-right: 1px solid #ddd;
}

th{
    background-color: #7ceee0;
}

tbody tr:hover {
    box-shadow: 5px 8px 16px rgba(0,0,0,0.2);
}

.table__button{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.table__button:hover{
    background-color: #3e8e41;
}

.table__button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
  
.active {
    opacity: 1;
    pointer-events: all;
}
  
.modal__content {
    pointer-events: all;
    position: relative;
    width: 50%;
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #F0F4FC;
    transform: scale(0.5);
    transition: 0.4s all;
    padding: 10px;
}
  
.active .modal__content {
    transform: scale(1);
}
  
.modal__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
}
  
.modal__title {
    color: #323232;
}
  
.modal__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.modal__input {
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 10px;
    padding: 24px;
    background-color: #D7E2F6;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1F4284;
    outline: none;
    margin-bottom: 5px;
}
  
::-webkit-input-placeholder {
    color: #1F4284;
}

.modal__button-primary {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 4px;
    padding: 18px 12px;
    background: #244C98;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container{
        font-size: 0.8rem;
        max-width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 320px) {
    .container{
        font-size: 0.6rem;
        max-width: 100%;
        padding: 0 5px;
    }
}